---
apiVersion: v1
kind: Pod
metadata:
   name: redis
spec:
   containers:
   - name: {{ container_name }}
     image: {{ container_name }}:{{ cont_ver }}
     command:
        - redis-server
        - "/redis-master/redis.conf"
     env:
     - name: MASTER
       value: "true"
     ports:
     - containerPort: {{ cont_port }}
     resources:
        limits:
           cpu: "{{ cpu_lim }}"
     volumeMounts:
     - mountPath: /redis-master-data
       name: data
     - mountPath: /redis-master
       name: config
   volumes:
      - name: data
        emptyDir: {}
      - name: config
        configMap:
           name: redis-config1
           items:
           - key: redis-config
             path: redis.conf
